<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/script.js"></script>
    <title>Document</title>
</head>
<body>
    <h1> Bem vindo a Página Inícial</h1>
    <img src="./img/image2.png" alt="">
    <a href="./pdf/edital.pdf" target="_blank"> Edital</a>
</body>
</html>