<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Bem vindo aos script's turma 6A</h1>
    <%=2+2%>
        <% if (process.env.USERNAME=='Marcelo' ){ %>
            <h2>Usuário Autorizado</h2>
            <%}else{%>
                <h2>Usuário não Autorizado</h2>
                <%}%>
                    <% const frutas=[ 'banana' ,'manga','tomate','uva', 'laranja']%>
                        <table>
                            <tr>
                                <td>Lista de Frutas</td>
                            </tr>
                            <% for(i=0;i<frutas.length;i++){%>
                                <tr>
                                    <td>
                                        <%=frutas[i]%>
                                    </td>
                                </tr>
                                <%}%>
                        </table>

</body>

</html>